html, body, .main-wrapper {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
}
button {
    border: none;
    padding: 0;
    color: inherit;
    outline: none;
    font: inherit;
    background: none;
}

:root {
    --bg-dark: rgb(216, 216, 216);
    --bg-light: white;
    --bg-blue: blue;

    --txt-light: white;
    --txt-dark: black;
    --txt-grey: grey;

    --border-radius: 10px;

    --font-size-xxl: 50px;
    --font-size-xl: 40px;
    --font-size-large: 28px;
    --font-size-med: 20px;
    --font-size-small: 10px;
}
.f-col {
    display: flex;
    flex-direction: column;
}